*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
body{
    color: #fff;
    background-color: #09001d;
    overflow: hidden;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
.logo{
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: #c40094;
}
.main{
    min-height: 100vh;
    background: url(wallpaperflare.com_wallpaper\ \(7\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s;
    pointer-events: auto;
}
.main.active{
    filter: blur(15px);
    transform: scale(1);
    pointer-events: none;
}
.container{
    display: flex;
    height: 100vh;
    width: 200%;
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -50%;
}
.home-content{
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home-content h1{
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0,.3);
}
.home-content p{
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0,.3);
    margin-bottom: 30px;
}
.home-content .start-btn{
    width: 190px;
    height: 55px;
    background: #c40094;
    border: 2px solid #c40094;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #c40094;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}
.home-content .start-btn:hover{
    background: #09001d;
    box-shadow: none;
    color: #c40094;
}
.popup-info{
    background: #f4f4f5;
    width:500px;
    height: 300px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .7s ease;
    transform: scale(.9);
    pointer-events: none;
}
.active{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
.popup-info h2{
    font-size: 40px;
    color: #c40094;
    font-weight: 700;
    text-shadow: 0 0 1px #09001d;
}
.popup-info .info{
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.popup-info .info-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-info .info-btn .exit-btn{
    padding: 10px 30px;
    background: #fff;
    border: none;
    border: 2px solid #c40094;
    border-radius: 5px;
    color: #c40094;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
}
.popup-info .info-btn .exit-btn:hover{
    background-color: #c40094;
    color: #fff;
}
.popup-info .info-btn .continue-btn{
    text-decoration: none;
    padding: 10px 30px;
    background: #c40094;
    border: none;
    border: 2px solid #c40094;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
}
.popup-info .info-btn .continue-btn:hover{
    background: #950b72;
    border: 2px solid #950b72;
}
.quiz-section{
    width: 100%;
    background: #09001d;
    position: relative;
    left: -50%;
    transition: .50s ease-in-out;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-section.active{
    left: 0;
}

.quiz-section .quiz-box{
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid #c40094;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: 1s ease;
    transition-delay: 0;
}
.quiz-section .quiz-box.active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}
.quiz-box h1{
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg,transparent,#c40094,transparent);
    border-radius: 6px;
}
.quiz-box .quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #c40094;
    margin-bottom: 30px;
}
.quiz-header span{
    font-size: 18px;
    font-weight: 500;
}
.quiz-header .header-score{
    background: #c40094;
    padding: 7px;
    border-radius: 3px;
}
.quiz-box .question-text{
    font-size: 24px;
    font-weight: 600;
}
.option-list .option{
    width: 100%;
    border: 2px solid rgba(255, 255, 255,.2);
    padding: 12px;
    background: transparent;
    font-size: 17px;
    border-radius: 4px;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s;
}
.option-list .option:hover{
    background: rgba(255, 255, 255,.1);
    border-color: rgba(255, 255, 255,.1);
}
.option-list .option.correct{
    background: #09001d;
    color: #00a63d;
    border-color: #00a63d;
}
.option-list .option.incorrect{
    background: #09001d;
    color: #a60045;
    border-color: #a60045;
}
.option-list .option.disabled{
    pointer-events: none;
}
.quiz-box .quiz-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #c40094;
    padding-top: 20px;
    margin-top: 25px;
}
.quiz-footer .question-total{
    font-size: 16px;
    font-weight: 600;
}
.quiz-footer .next-btn{
    width: 100px;
    height: 45px;
    pointer-events: none;
    cursor: pointer;
    background: rgba(255, 255, 255,.1);
    border: 2px solid rgba(255, 255, 255,.1);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255,.3);
    transition: .3s;
}
.quiz-footer .next-btn.active{
    pointer-events: auto;
    color: #fff;
    background: #c40094;
    border-color: #c40094;
}
.quiz-footer .next-btn.active:hover{
    background: #950170;
    border-color: #950170;
}

.quiz-section .result-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.3);
    width: 500px;
    background: transparent;
    border: 2px solid #c40094;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease-in-out;
}
.quiz-section .result-box.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.result-box h2{
    font-size: 52px;
}
.result-box .percentage-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}
.percentage-container .circular-progress{
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#c40094 3.6deg, rgba(255, 255,255, .1) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.percentage-container .circular-progress::before{
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: #09001d;
    border-radius: 50%;
    
}
.circular-progress .progress-value{
    font-size: 45px;
    font-weight: 600;
    z-index: 1;
}
.percentage-container .score-text{
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}
.result-box .buttons{
    display: flex;
}
.buttons button{
    width: 130px;
    height: 47px;
    background: #c40094;
    border: 2px solid #c40094;
    font-size: 16px;
    border-radius: 6px;
    color: #fff;
    outline: none;
    font-weight: 600;
    margin: 0 20px 20px;
    cursor: pointer;
    transition: .5s;
}
.buttons button:nth-child(1):hover{
    background: #950170;
    border-color: #950170;
}
.buttons button:nth-child(2){
    background: transparent;
    color: #c40094;
}
.buttons button:nth-child(2):hover{
    background: #c40094;
    color: #fff;
}